* {
  margin: 0;
  padding: 0;
}

.pattern{
    background-image:url(img/pattern.png);
    height: 100px;
    background-color: rgb(15, 153, 228);
    background-size:contain;
    display: flex;
}

.logo{
    background-image: url(img/logo.svg);
    margin-top: 40px;
    height: 180px;
    width: 180px;
    background-repeat: no-repeat;
    margin-left: 60px;
}

.titolo{
    height: 170px;
}

.titolo h1{
   margin-left: 190px;
   margin-top: 25px;
   font-size: 49px;
}

.highlight{
    color: rgb(15, 153, 228);
}

.titolo p{
    margin-left: 190px;
    color:gray;
}

.immagini{
    display:flex;
    height: 440px;
    flex-direction: row;
    justify-content: space-around;
}

.immagine1{
    height: 500px;
    width: 500px;
    background-image: url(img/tim-1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top:40px;
    margin-left: 90px;
}

.immagine2{
    height: 500px;
    width: 500px;
    background-image: url(img/tim-2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 40px;
    margin-right: 90px;
}

.descrizioni{
    height: 50px;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color:gray;
}

.evidenziato{
    background-color: yellow;
    color:black;
    padding:2px;
}

.lorem{
    margin-left: 170px;
    width: 79%;
    margin-top:50px;
}

.tabella{
    height: 200px;
    margin-left: 187px;
    margin-top: 50px;
    width: 76%;
}

ul li{
    margin-bottom: 10px;
}

.tabella2{
    margin-left: 180px;
    height: 400px;
    width: 79%;
    margin-top: 60px;
}


table{
    height: 300px;
    border-collapse: collapse;
}

#thead{
    background-color: rgb(56, 165, 243);
    color:white;
}

#tbody1{
    background-color: rgb(130, 195, 241);
}

#tbody2{
    background-color: white;
}

#tbody3{
    background-color: rgb(130, 195, 241);
}

.lorem2{
    margin-left: 170px;
    width: 79%;
    margin-top:50px;
}

.footer1{
    display: flex;
    flex-direction: column;
    height: 600px;
}

.scritta{
    height: 50px;
    color:gray;
    margin-left: 170px;
    margin-top: 70px;
}

.foto1{
    background-image: url(img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    margin-left: 169px;
}

.foto1 p{
    color:white;
}


.foto2{
    background-image: url(img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    width: 300px;
    margin-left: 169px;
}

.foto2 p{
    color:white;
}